<%- include('partials/head') %>
<title>Clarusway FullStack Team - Detail</title>
</head>
<body>
    <div class="container">
        <%- include('partials/header') %>
    </div>
<!-- main start -->
<main class="container">
    <div class="row g-5">
        <div class="col-md-12 p-3">
            <!-- BlogPost Read -->
            <div class="admin-area text-end">
                <% if (user.id == post.userId) { %>
                 <a class="btn btn-sm btn-primary" href="/post/<%= post._id %>/update">Update</a>
                <a class="btn btn-sm btn-danger" href="/post/<%= post._id %>/delete" onclick="return confirm('Are you sure?')">Delete</a>
                <% } %>
                Published: <%= post.published %>
            </div>
            <article class="blog-post">
                <a href="/post?filter[blogCategoryId]=<%= post.blogCategoryId._id %>"># <%= post.blogCategoryId.name %></a>
                <h2 class="display-5 mb-1">
                    <a href="/post/<%= post.id %>" class="link-body-emphasis text-decoration-none"><%= post.title %></a>
                </h2>
                <p class="blog-post-meta"><%= post.createdAt.toLocaleString() %></p>
                <div>
                    <%- post.content %>
                </div>
            </article>
        </div>
    </div>
</main>
<!-- main end -->

<%- include('partials/footer') %>
</body>
</html>