<%- include('partials/head') %>
<title>Clarusway FullStack Team - PostList</title>
</head>
<body>
    <div class="container">
        <%- include('partials/header') %>
        <%- include('partials/categories') %>
    </div>
    <main class="container">
        <div class="row g-5">
            <div class="col-md-8">
                <div class="admin-area text-end">
                    <a class="btn btn-primary" href="/post/create">New Post</a>
                </div>
                <h3 class="pb-4 fst-italic border-bottom">
                    Welcome to my blog site.
                </h3>
                <!-- BlogPosts -->
                <% posts.forEach(post => { %>
                 <article class="blog-post">
                    <h2 class="display-5 mb-1">
                        <a href="/post/<%= post.id %>" class="link-body-emphasis text-decoration-none"><%= post.title %></a>
                    </h2>
                    <p class="blog-post-meta"><%= post.createdAt.toLocaleString() %></p>
                    <div class="line-clamp-3">
                        <%#= post.content %>
                        <%- post.content %>
                    </div>
                    <!-- <%#- post.content.substring(0,400) %>... -->
                    <div class="admin-area text-end">
                        <a class="btn btn-sm btn-primary" href="/post/:id/update">Update</a>
                        <a class="btn btn-sm btn-danger" href="/post/<%= post.id %>/delete" onclick="return confirm('Are you sure?')">Delete</a>
                    </div>
                </article>
                <% }) %> 
                
                <!-- <article class="blog-post">
                    <h2 class="display-5 mb-1">
                        <a href="/post/:id" class="link-body-emphasis text-decoration-none">Sample Blog Post</a>
                    </h2>
                    <p class="blog-post-meta">January 1, 2021</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <div class="admin-area text-end">
                        <a class="btn btn-sm btn-primary" href="/post/:id/update">Update</a>
                        <a class="btn btn-sm btn-danger" href="/post/:id/delete" onclick="return confirm('Are you sure?')">Delete</a>
                    </div>
                </article>
                <article class="blog-post">
                    <h2 class="display-5 mb-1">
                        <a href="/post/:id" class="link-body-emphasis text-decoration-none">Sample Blog Post</a>
                    </h2>
                    <p class="blog-post-meta">January 1, 2021</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <div class="admin-area text-end">
                        <a class="btn btn-sm btn-primary" href="/post/:id/update">Update</a>
                        <a class="btn btn-sm btn-danger" href="/post/:id/delete" onclick="return confirm('Are you sure?')">Delete</a>
                    </div>
                </article>
                <article class="blog-post">
                    <h2 class="display-5 mb-1">
                        <a href="/post/:id" class="link-body-emphasis text-decoration-none">Sample Blog Post</a>
                    </h2>
                    <p class="blog-post-meta">January 1, 2021</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <div class="admin-area text-end">
                        <a class="btn btn-sm btn-primary" href="/post/:id/update">Update</a>
                        <a class="btn btn-sm btn-danger" href="/post/:id/delete" onclick="return confirm('Are you sure?')">Delete</a>
                    </div>
                </article>
                <article class="blog-post">
                    <h2 class="display-5 mb-1">
                        <a href="/post/:id" class="link-body-emphasis text-decoration-none">Sample Blog Post</a>
                    </h2>
                    <p class="blog-post-meta">January 1, 2021</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <div class="admin-area text-end">
                        <a class="btn btn-sm btn-primary" href="/post/:id/update">Update</a>
                        <a class="btn btn-sm btn-danger" href="/post/:id/delete" onclick="return confirm('Are you sure?')">Delete</a>
                    </div>
                </article> -->
                <!-- Pagination -->
                 <% console.log(details) %>
                <nav class="blog-pagination" aria-label="Pagination">
                    <% for( let pageNo = 1; pageNo <= details?.pages.totalPage; pageNo++ ) { %>
                        <a class="btn btn-<%= (details?.pages.activePage == pageNo) ? 'primary' : 'outline-primary' %> rounded-pill" href="<%= pageUrl %>&page=<%= pageNo %>"><%= pageNo %></a>
                    <% } %>
                    <!-- <a class="btn btn-outline-secondary rounded-pill">2</a> -->
                </nav>
                <p class="text-end p-2 border-top">Total <%= details.total %> Posts</p>
            </div>
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div>
                        <h3 class="fst-italic">Recent Posts</h3>
                        <ul class="list-unstyled">
                            <!-- Recent posts -->
                             <% recentPosts.forEach(item => { %>
                              <li>
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                    href="/post/:id">
                                    <div class="col-lg-8">
                                        <h5><%= item.title %></h5>
                                        <!-- <p class="my-2">Lorem ipsum dolor sit amet consectetur adipisicing elit...</p> -->
                                         <!-- <div class="line-clamp-3 my-2">
                                            <%#- item.content %>
                                         </div> -->
                                         <p class="line-clamp-3 my-2">
                                            <%= item.content.replace(/<(.|\n)*?>/g,'') %>
                                         </p>
                                        <small class="text-body-secondary"><%= item.createdAt.toLocaleString() %></small>
                                    </div>
                                </a>
                            </li>
                             <% }) %>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>

</body>
</html>